a {
    text-decoration: none;
}

h2,
h3,
h4,
h5 {
    color: #2b3595!important;
    /* color: #7e1ca1; */
}

.image{
    width: 100%;
}

/* h5 {
    color: #7d7c7c!important;
} */

input,
textarea,
select {
    border-color: #c8c9cd!important;
    border-radius: 2px!important;
}

.word-break{
    word-break: break-word;
}


input:focus,
textarea:focus,
select:focus {
    color: #2b3595!important;
    /* color: #7e1ca1!important; */
    background-color: var(--bs-form-control-bg);
    /* border-color: #7e1ca1!important; */
    border-color: #2b3595!important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(43,53,149, .25)!important;
}

.btn-primary{
    /* background-color: #7e1ca1!important; */
    background-color: #2b3595!important;
    /* border-color: #7e1ca1!important; */
    border-color: #2b3595!important;
    border-radius: 2px!important;
}

.btn-primary:hover{
    background-color: #7d7c7c!important;
    border-color: #7d7c7c!important;
    transition: 0.3s!important;
}

.link-menu{
    /* color: #7e1ca1; */
    color: #2b3595;
}

.link-style:hover{
    /* background: #7e1ca1; */
    background: #2b3595;
    transition: 0.4s;
    color: #7d7c7c;
}

.link-style.active{
    /* background-color: #7e1ca1!important; */
    background-color: #2b3595!important;
    color: #7d7c7c!important;
}

.link-menu:hover{
    color: #7d7c7c;
    transition: 0.3s;
}

.active{
    color: #7d7c7c!important;
}

/* Footer */
.bg-header-footer{
    /* background-color: #e8e8ed; */
    /* background-color: #e4e4fd; */
    /* e4e4fd */
}

.footer-logo svg{
    height: 100px;
    width: 100px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.navbar-brand svg{
    max-height: 120px;
}

.navbar-nav{
    font-size: 22px;
    font-weight: 500;
}

.img-width{
    max-width: 100%;
}

.video{
    width: 100%;
    height: 500px;
    border: 0;
}

.link-video-category{
    color: black;
    text-decoration: none;
    text-align: center;
}

.tricky-category-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0 0 0 30px;
}

.tricky-category-list-link{
    padding: 7px 25px 9px 25px;
    background-color: #7e1ca1;
    /* background-color: #2b3595; */
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
}

.tricky-categoty-list-link-active{
    background-color: #7d7c7c;
}

.container-wrap-contact-firma{
    background-color: #7e1ca1;
    /* background-color: #2b3595; */
}

/* Contact */
.contact-phone{
    color: #2b3595!important;
}
.contact-firma-right{
    color: #fff;
}

.contact-firma-left-title{
    color: #fff!important;
}

.container-block-form{
    padding: 3rem;
}

.block-contact-form{
    padding: 3rem;
}

/* Home */
.wrap-for-img{
    width: 70%;
    position: relative;
    overflow: hidden;
    height: 670px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.wrap-for-img img{
    border-radius: 9%;
}

.mirror-image{
    position: absolute;
    width: 100%;
    transform: scaleY(-1);
    /* opacity: 0; */
    top: 445px;
    left: 0;
    z-index: -1;
}

.home-ul {
    list-style-type: none; /* Или любой другой тип маркера, который вы хотите использовать */
    padding: 0; /* Убираем стандартный padding, чтобы точки были ближе к тексту */
    margin: 0 auto; /* Автоматические отступы слева и справа для центрирования */
    /* display: table; Заставляет элемент вести себя как таблица, что облегчает центрирование */
}

.home-ul li {
    text-align: center; /* Текст элементов списка выравнивается по левому краю */
    font-size: 21px;
    /* display: flex; /* Используем Flexbox для выравнивания элементов */
    /* align-items: center; Выравниваем элементы по центру по вертикали */
}

.home-ul li img {
    margin-right: 10px; /* Отступ справа от изображения */
    width: 5%;
}

.home-icon-svg{
    width: 10%;
}

.home-table{
    width: 30%;
}

.home-table-text{
    font-size: 24px;
}

.wrap-programs-img{
    flex-wrap: wrap;
    align-items: center;
}

.prog-image{
    width: 40%;
}

.prog-image-q{
    width: 14%;
}

.prog-image-excel{
    width: 10%;
}

.prog-image-powerbi{
    width: 65%;
}

.prog-image-sql{
    width: 40%;
}
/* POST */
.post-main-image {
    position: relative; /* Устанавливаем контейнер как относительно позиционированный */
    width: 100%;
    height: 300px; /* Вы можете настроить высоту по вашему желанию */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

.post-title {
    color: white; /* Устанавливаем цвет текста */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6); /* Добавляем тень к тексту для улучшения читаемости */
    background-color: rgba(0,0,0,0.4); /* Добавляем полупрозрачный черный фон за текстом */
    padding: 10px 20px; /* Немного отступов вокруг текста */
    border-radius: 5px; /* Скругляем углы фона за текстом */
}

.post-text img{
    max-width: 100%;
    height: auto;
}

/* About us */
.block-firm-imfo{
    background-color: #ad70cb42; /* Светлый фон для контраста */
    border-radius: 10px; /* Округлые углы */
    padding: 20px; /* Отступ внутри блоков */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для создания "плавающего" эффекта */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавное изменение при наведении */
    text-align: center;
    min-height: 115px;
    /* cursor: pointer; */
}

.block-firm-imfo:hover{
    transform: translateY(-5px); /* Поднимает блок при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Увеличивает тень для создания эффекта глубины */
}

.work-firm-info{
    font-size: 20px;
}

.sorting-select{
    font-size: 12px;
}

/* Company */
.image-company-info{
    width: 65%;
}
/* Service */
.image-service{
    width: 50%;
}

.img-servic-wrap{
    text-align: center;
    /* min-height: 210px; */
}

.wrap-service-body{
    background-color: #6b347f;
}

.service-box-title h2{
    font-weight: 900;
    /* color: #fff!important; */
}

.service-block-text{
    font-weight: 500;
    text-align: center;
}

.service-box-wrap{
    box-shadow: 1px 0px 13px 13px;
    border-radius: 11px;
    background-color: #c1b3e3;
}

.service-block-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-service-block{
    width: 50%;
}

.service-box-wrap{
    margin: 15px;
    padding: 30px;

}

.service-factors-list{
    padding: 20px;
}

.service-factors-list li{
    font-size: 20px;
    padding: 5px 0;
}

.contact-form-wrap{
    padding: 50px;
    background-color: #c1b3e3;
    box-shadow: 1px 0px 13px 13px;
    border-radius: 11px;
}

.svg-icon-service-wrap{
    text-align: center;
}

.svg-icon-service{
    max-width: 50%;
    text-align: center;
    display: -webkit-inline-box;
}


.step-left-1{
    width: 20%;
    border-bottom: 2px solid #2b3595;
}

.step-left-1 h5{
    margin-left: 5px;

}
.step-left-2,
.step-left-3,
.step-left-4,
.step-left-5,
.step-left-6{
    width: 20%;
    border-right: 2px solid #2b3595;
}

.step-right-2{
    width: 20%;
    border-bottom: 2px solid #2b3595;
}
.step-right-2 h5{
    margin-top: 45%;
    margin-left: 5px;
}
.step-right-3{
    width: 20%;
    border-bottom: 2px solid #2b3595;
}
.step-right-3 h5{
    margin-top: 45%;
    margin-left: 5px;
}
.step-right-4{
    width: 20%;
    border-bottom: 2px solid #2b3595;
}
.step-right-4 h5{
    margin-top: 42%;
    margin-left: 5px;
}
.step-right-5{
    width: 20%;
    border-bottom: 2px solid #2b3595;
}
.step-right-5 h5{
    margin-top: 27%;
    margin-left: 5px;
}

.step-empty{
    width: 20%;
}

.service-firm-rep{
    border: 2px solid #2b3595;
    padding: 20px;
    border-radius: 25px;
}

.service-ul-center-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.service-ul-center{
    padding: 20px;
    list-style: auto;
}

.service-dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #2b3595;
    border-radius: 50%;
    margin-top: 7px;
    float: right;
}

.service-dot-small-screan{
    display: none;
}

.service-svg-net-viz-dat{
    width: 15%;
    margin-right: 40px;
}

.service-block-wrap{
    border: 1px solid;
    padding: 20px;
    min-height: 220px;
}

@media (max-width: 1399px){
    .mirror-image{
        top: 382px;
    }

    .step-right-2 h5{
        margin-top: 53%;
    }
    .step-right-3 h5{
        margin-top: 64%;
    }
    .step-right-4 h5{
        margin-top: 63%;

    }
    .step-right-5 h5{
        margin-top: 42%;
    }

    .service-block-wrap{
        min-height: 233px;
    }
}
@media (max-width: 1199px){
    .mirror-image{
        top: 318px;
    }

    .block-firm-imfo{
        padding: 37px;
    }

    .home-table{
        width: 20%;
    }

    .home-icon-svg{
        width: 25%;
    }

    .step-right-2 h5{
        margin-top: 88%;
    }
    .step-right-3 h5{
        margin-top: 100%;
    }
    .step-right-4 h5{
        margin-top: 88%;

    }
    .step-right-5 h5{
        margin-top: 63%;
    }
    .service-block-wrap{
        min-height: 275px;
    }
}

@media (max-width: 991px){
    .wrap-for-img{
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .wrap-for-img img{
        width: 70%
    }

    .mirror-image{
        top: 487px;
        left: 109px;
    }

    .container-block-form{
        padding: 1rem;
    }

    .block-contact-form{
        padding: 0;
    }

    .contact-form-wrap{
        padding: 10px;
    }

    .block-firm-imfo{
        padding: 37px;
        margin-bottom: 15px;
    }

    .home-table{
        width: 33%;
    }

    .home-icon-svg{
        width: 11%;
    }

    .step-wrap{
        flex-wrap: wrap;
    }

    .step-left-1,
    .step-left-2,
    .step-left-3,
    .step-left-4,
    .step-left-5,
    .step-left-6{
        width: 100%;
        border-right: 0px solid #2b3595;
    }
    .step-right-1,
    .step-right-2,
    .step-right-3,
    .step-right-4,
    .step-right-5,
    .step-right-6{
        width: 100%;
    }
    .step-right-1 h5,
    .step-right-2 h5,
    .step-right-3 h5,
    .step-right-4 h5,
    .step-right-5 h5,
    .step-right-6 h5{
        margin-top: 3%;
    }
    .service-block-wrap{
        min-height: 0px;
    }
}

@media (max-width: 767px){
    .wrap-for-img{
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .wrap-for-img img{
        width: 70%
    }

    .mirror-image{
        top: 360px;
        left: 85px;
    }

    .prog-img-small{
        width: 100%;
    }

    .prog-image-q{
        width: 22%;
    }

    .prog-image-excel{
        width: 15%;
    }

    .prog-image-powerbi{
        width: 60%;
    }

    .prog-image-sql{
        width: 30%;
    }

    .small-qlik{
        padding-top: 45px;
        padding-bottom: 15px;
    }

    .small-excel{
        padding-top: 45px;
    }

    .image-company-info{
        width: 45%;
    }
    .work-firm-info{
        text-align: center;
    }
}

@media (max-width: 576px){
    .wrap-for-img{
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
        height: 400px;
    }

    .wrap-for-img img{
        width: 70%
    }

    .mirror-image{
        /* top: 385px;
        left: 85px; */
        top: 273px;
        left: 63px;
    }

    .prog-img-small{
        width: 100%;
    }

    .home-table{
        width: 15%;
    }

    .home-icon-svg{
        width: 60%;
    }

    .service-dot{
        display: none;
    }
    .service-dot-small-screan{
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: #2b3595;
        border-radius: 50%;
        margin-top: 7px;
    }
}

@media (max-width: 376px){
    .wrap-for-img{
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
        height: 385px;
    }

    .wrap-for-img img{
        width: 70%
    }

    .mirror-image{
        top: 244px;
        left: 58px;
    }

    .prog-img-small{
        width: 100%;
    }

    .home-table{
        width: 10%;
    }

    .home-icon-svg{
        width: 80%;
    }
}

@media (max-width: 280px){
    .wrap-for-img{
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
        height: 330px;
    }

    .wrap-for-img img{
        width: 70%
    }

    .mirror-image{
        top: 178px;
        left: 42px;
    }

    .prog-img-small{
        width: 100%;
    }
}
