h1,
h2,
h3 {
    color: #2b3595;
}

h4,
h5 {
    color: #fb7f00!important;
}

input,
textarea,
select {
    border-color: #c8c9cd!important;
    border-radius: 2px!important;
}

.word-break{
    word-break: break-word;
}


input:focus,
textarea:focus,
select:focus {
    color: #2b3595!important;
    background-color: var(--bs-form-control-bg);
    border-color: #2b3595!important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(43,53,149, .25)!important;
}

.btn-primary{
    background-color: #2b3595!important;
    border-color: #2b3595!important;
    border-radius: 2px!important;
}

.btn-primary:hover{
    background-color: #fb7f00!important;
    border-color: #fb7f00!important;
    transition: 0.3s!important;
}

.link-menu{
    color: #2b3595;
}

.link-menu:hover{
    color: #fb7f00;
    transition: 0.3s;
}

.active{
    color: #fb7f00!important;
}

.bg-header-footer{
    /* background-color: #e8e8ed; */
    background-color: #e4e4fd;
    /* e4e4fd */
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.navbar-brand svg{
    max-height: 120px;
}

.navbar-nav{
    font-size: 22px;
    font-weight: 500;
}

.img-width{
    max-width: 100%;
}

.video{
    width: 100%;
    height: 500px;
    border: 0;
}

.link-video-category{
    color: black;
    text-decoration: none;
    text-align: center;
}

.tricky-category-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0 0 0 30px;
}

.tricky-category-list-link{
    padding: 7px 25px 9px 25px;
    background-color: #2b3595;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
}

.tricky-categoty-list-link-active{
    background-color: #fb7f00;
}

.container-wrap-contact-firma{
    background-color: #2b3595;
}

.contact-firma-right{
    color: #fff;
}

.contact-firma-left-title{
    color: #fff!important;
}


/* POST */
.post-main-image {
    position: relative; /* Устанавливаем контейнер как относительно позиционированный */
    width: 100%;
    height: 300px; /* Вы можете настроить высоту по вашему желанию */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

.post-title {
    color: white; /* Устанавливаем цвет текста */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6); /* Добавляем тень к тексту для улучшения читаемости */
    background-color: rgba(0,0,0,0.4); /* Добавляем полупрозрачный черный фон за текстом */
    padding: 10px 20px; /* Немного отступов вокруг текста */
    border-radius: 5px; /* Скругляем углы фона за текстом */
}

.post-text img{
    max-width: 100%;
    height: auto;
}
